body {
  background-color: black;
}

.container {
  background-color: #222;
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 50%;
}

.name {
  color: #48eaec;
  justify-content: left;
  font-size: 4em;
  position: absolute;
  left: 0;
  top: 0;
}

.container .icon {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container .icon .imgbx {
  position: absolute;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #fff;
  box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
  transform: rotate(calc(360deg / 6 * var(--i)));
  transform-origin: 380%;
  z-index: 100;
  overflow: hidden;
}

.container .icon .imgbx.active {
  box-shadow: 0 0 0 6px #222, 0 0 0 12px #801d1d;
}

.container .icon .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  transform: rotate(calc(-360deg / 6 * var(--i)));
  transition: 0.5s;
  filter: grayscale(1);
}

.container .icon .imgbx.active img {
  filter: grayscale(0);
}

.content {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::before {
  content: "";
  position: absolute;
  inset: 60px;
  border: 4px solid transparent;
  border-left: 4px solid #c2400c;
  border-radius: 50%;
  animation: animate_01 5s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes animate_01 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.content::after {
  content: "";
  position: absolute;
  inset: 120px;
  border: 4px solid transparent;
  border-left: 4px solid #801d1d;
  border-right: 4px solid #e5e7eb;
  border-radius: 50%;
  animation: animate_02 2.5s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes animate_02 {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.contentbx {
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentbx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}

.contentbx .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15%;
}

.contentbx .card .imgbx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.contentbx .card .imgbx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentbx .card .textbx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentbx .card .textbx h2 {
  position: relative;
  font-size: 1.25em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.contentbx .card .textbx h2 span {
  font-size: 0.65em;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contentbx .card .textbx .sci {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.contentbx .card .textbx .sci li {
  list-style: none;
}

.contentbx .card .textbx .sci li a {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.contentbx .card .textbx .sci li a:hover {
  background: #2196f3;
  transition: 0.5s;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    width: 400px;
    height: 400px;
    margin-top: 30px;
  }

  .name {
    font-size: 3em;
  }

  .container .icon .imgbx {
    width: 60px;
    height: 60px;
  }

  .contentbx .card .imgbx {
    width: 100px;
    height: 100px;
  }

  .contentbx .card .textbx h2 {
    font-size: 1em;
  }
  .content::before {
    inset: 40px;
  }
  .content::after {
    inset: 90px;
  }
}
@media screen and (max-width: 520px) {
  .container {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .name {
    font-size: 3em;
  }

  .container .icon .imgbx {
    width: 45px;
    height: 45px;
  }

  .contentbx .card .imgbx {
    width: 80px;
    height: 80px;
  }

  .contentbx .card .textbx h2 {
    font-size: 1em;
  }
  .content::before {
    inset: 37px;
  }
  .content::after {
    inset: 50px;
  }
}
